.header-container{
    // max-width: 1560px;
    width: 100%;
}
section{
    background-color: #1c1d1e ;
    margin: 0;
    height: 60px;
    padding: 0 140px;

}

//navbar 1
.navbar1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
    
}
.left img{
    cursor: pointer;
}
// .left a{
//     // margin-left: 30px;
// }
.slogan{
    font-size: 14px;
    padding:  0 20px;
    color: #7d7d7d;
}
.right{
    display: flex;
    align-items: center;
    // padding-right: 45px;
}
.nav-buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}
.register-btn button{
    border: none;
    background: none;
    color: #fff;
    transition: background-color .2s ease-in-out;
    font-size: 15px;
    // padding: 8px 12px;
    cursor: pointer;
}
.login-btn button{
    background:#f05a22 ;
    border: none;
    transition: background-color .2s ease-in-out;
    color: white;
    font-size: 15px;
    min-height: 33.6px;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
}
.lang-btn button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(https://cf.europebet.com/prod/content/documents/images/a88328a1-7b25-433a-a6df-4ed44ab6174f.svg);
    // margin-right: 30px;
}

.toogle{
    position:absolute;
}

.language-select-item{
    margin-bottom: 10px;
    padding: 0 20px;
    text-align: left;
    cursor: pointer;  
    color: #7d7d7d;
}

.language-select-item .language-item-img{
    
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.login-btn img{
    
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.promo img{
    height: 35px;
    padding: 0 20px;
}




//navbar2

.navbar2{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 46px;
    background-color: #25292b;
    padding: 0 90px;
}

.links ul {
    display: flex;
    align-items: center;
    // padding-left: 85px;
}

.links ul li{
    padding: 0 10px;
    list-style: none;
}

.links a{
    text-decoration: none;
    color: #7d7d7d;
    cursor: pointer;
}
.links a:hover{
    color: white;
    transition: 0.5s;
}