<footer>
    <section>
        <div class="products">
            <ul>
                <h5>პროდუცტები</h5>
                <li>სპორტი</li>
                <li>ლაივი</li>
                <li>სლოტები</li>
                <li>ლაივ კაზინო</li>
                <li>პოკერი</li>
                <li>მაგიდის თამაშები</li>
                <li>BOOM</li>
                <li>TV თამაშები</li>
                <li>ვირტუალური თამაშები</li>
                <li>აქციები</li>
            </ul>
        </div>
        <div class="europebet">
            <ul>
                <h5>ევროპაბეთი</h5>
                <li>ჩვენ შესახებ</li>
                <li>Betsson Group</li>
                <li>წესები და პირობები </li>
                <li>უსაფრთხოება და კონფიდენციალურობა</li>
                <li>ვერიფიკაცია</li>
                <li>პასუხისმგებლიანი თამაში</li>
                <li>25/18+</li>
            </ul>
        </div>
        <div class="help">
            <ul>
                <h5>დახმარება</h5>
                <li>კონტაქტი</li>
                <li>ხშირად დასმული კითხვები</li>
                <li>სალარაოები </li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <h5>გამოწერა</h5>
                <li>Facebook</li>
                <li>Youtube </li>
            </ul>
        </div>
        <div class="contact">
            <ul>
                <h5>დახმარება გჭირდება?
                </h5>
                <li>*0909</li>
                <li>032 219 40 00 </li>
            </ul>
        </div>
    </section>
    
    <section>
        <div class="sponsors">
            <div class="footer-images">
                <span><img src="https://cf.europebet.com/prod/content/documents/images/60076ba2-dfa1-419a-8186-464cd09ed904.svg" alt=""></span>
                <span><img src="https://cf.europebet.com/prod/content/documents/images/952d3315-38e0-4ef2-8876-3cc34fe50553.svg" alt=""></span>
                <span><img src="https://cf.europebet.com/prod/content/documents/images/b2e5795e-4438-493c-97bf-585034efdace.svg" alt=""></span>
                <span><img src="https://cf.europebet.com/prod/content/documents/images/44755c61-8430-4766-80c7-6d7fa87cd781.svg" alt=""></span>
                <span><img src="https://cf.europebet.com/prod/content/documents/images/3fb4e7e6-8917-490b-a151-aa0ae4e9e8aa.svg" alt=""></span>
                <span><img src="https://cf.europebet.com/prod/content/documents/images/5127a49a-1876-4586-b908-85912851a889.svg" alt=""></span>
                <span><img src="https://cf.europebet.com/prod/content/documents/images/8a8cb1dc-0c16-4fad-a21a-d92b55947531.svg" alt=""></span>
                <span><img src="https://cf.europebet.com/prod/content/documents/images/c3a7d36a-4184-41b6-90d8-5d3701c2d5de.svg" alt=""></span>
                <span><img src="https://cf.europebet.com/prod/content/documents/images/c86e184a-e97b-48d7-92d6-5faae712ff69.svg" alt=""></span>
                <span><img src="https://cf.europebet.com/prod/content/documents/images/c86e184a-e97b-48d7-92d6-5faae712ff69.svg" alt=""></span>
                <span><img src="https://cf.europebet.com/prod/content/documents/images/a02bafa6-2076-4dc0-a11f-4b693fdda610.svg" alt=""></span>
            </div>
        </div>
    </section>
    
    <section>
        <div class="last-sec">
        <div class="copy-paste">
            <span><a href="https://www.europebet.com/ka/age-restriction"><img src="https://cf.europebet.com/prod/content/documents/images/ae74dd72-2c4f-4ec3-8903-53a7a7093935.png" alt=""></a></span>
            <span><a href="https://access.gaminglabs.com/certificate/index?i=279"><img src="https://cf.europebet.com/prod/content/documents/images/2dbdcb9a-7acc-480f-9ae5-3e3fce785173.png" alt=""></a></span>
            <span><a href="https://www.idquantique.com/random-number-generation/products/quantis-random-number-generator/"><img src="https://cf.europebet.com/prod/content/documents/images/427a7403-4897-4243-a4ce-7a60b93779e7.png" alt=""></a></span>
            <span><a href="https://www.europebet.com/"><img src="https://cf.europebet.com/prod/content/documents/images/a00e8481-45f2-49ca-b3b0-77587e0d85c3.svg" alt=""></a></span>
            <span><a href="https://www.europebet.com/?"><img src="https://cf.europebet.com/prod/content/documents/images/e4a7c498-4dbc-4753-b88b-841e790b524b.svg" alt=""></a></span>
            <span><a href="https://responsible.ge/"><img src="https://cf.europebet.com/prod/content/documents/images/d4406650-b950-4be3-9daf-54002644b9be.svg" alt=""></a></span>
        </div>
        <div class="license">
            <p>საიტი ლიცენზირებულია საქართველოს კანონმდებლობით დადგენილი წესით,<br> ეკუთვნის და იმართება შპს "ჩემპიონები111" (ID ნომერი: 240420647) - <br> ის მიერ.
                <br>
                Copyright © 2010-2022 Europebet.com. ყველა უფლება დაცულია.</p>
        </div>
    </div>
    </section>
    </footer>
