<div class="registration-modal" *ngIf="show" >
    <div class="modal-container">
        <div class="x-btn" >
            <h2>რეგისტრაცია</h2>
            <button type="submit" (click)="closeRegPopup()"><i>&#x2715;</i></button>
        </div>
        <p>მაქვს ანგარიში</p>
        <br>
        <br>
        <br>
        <form  [formGroup]="registrationForm" (ngSubmit)="register()">
            <input type="text" formControlName="userName" placeholder="მომხმარებლი" >
            <span *ngIf="registrationForm.controls['userName'].touched && registrationForm.hasError('required','userName')" style="color: red;">აუცილებელი ველი</span>
            <input type="tel"  formControlName="mobileNumber" placeholder="მობილური">
            <span *ngIf="registrationForm.controls['mobileNumber'].touched && registrationForm.hasError('required','mobileNumber')" style="color: red;">აუცილებელი ველი</span>
            <input type="mail" formControlName="email" placeholder="ელფოსტა">
            <span *ngIf="registrationForm.controls['email'].touched && registrationForm.hasError('required','email')" style="color: red;">აუცილებელი ველი</span>
            <input type="password" formControlName="password"  placeholder="პაროლი">
            <span *ngIf="registrationForm.controls['password'].touched && registrationForm.hasError('required','password')" style="color: red;">აუცილებელი ველი</span>
            <button [disabled]="!registrationForm.valid" >რეგისტრაცია</button>
        </form>
    </div>
</div>