<section>
    <div class="container">
        <h2>ჩემი ანგარიში</h2>
        <div class="info">
            <div class="icon">
                <img src="https://img.icons8.com/fluency-systems-regular/344/user-secured.png" alt="">
            </div>
            <div class="username" >
                <h1>Hi,{{user.userName}}</h1>
                <p>{{user.email}}</p>
                <p>{{user.mobileNumber}}</p>
            </div>
            <div class="balance">
                <p>ბალანსი</p>
                <h3>0.17ლ</h3>
            </div>
            <div class="bonus">
                <p>ბონუსი</p>
                <h3>+0.00</h3>
            </div>
            <div class="blocked">
                <p>დაბლოკილი</p>
                <h3>0.00ლ</h3>
            </div>
        </div>
        <div class="btns">
            <button class="deposite"> დეპოზიტი</button>
            <button class="withdraw">გატანა</button>
        </div>
        <hr>
        <div class="promos">
            <h2>ჩემი აქციები</h2>
            <p>ამჟამად თქვენ არ მონაწილეობთ რაიმე აქციაში
                <span>ყველა აქციის ნახვა</span>
            </p>
        </div>
        <hr>
        <div class="bonuses">
            <h2>ჩემი ბონუსები</h2>
            <p>ამჟამად თქვენ არ გაქვთ აქტიური ბონუსები. შესაბამისად, არ იმყოფებით რომელიმე ბონუს პირობის შესრულების <br>პროცესში.
            </p>
        </div>
    </div>
    
    
    
</section>