/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    min-width: 1024px;
    font-family: helvetica-geo-roman,Arial;
    
     background-color: #171718;
 }